#app-wrapper {
  .mw-500 {
    max-width: 500px;
  }

  .jumbotron {
    padding: 3rem 7rem;

    background-color: #ffffff;
    background-clip: border-box;
    border: solid $secondary 1px;
    border-radius: 1em;
  }
  body {
    background-color: #f4f6f9;
  }
  .fs-075 {
    font-size: 0.75em;
  }
  .mw-800 {
    max-width: 800px;
  }
  .p-0 {
    padding: 0;
  }
  .wrapper {
    padding: 1.2em 1em;
  }
  .nav-pills .nav-link.active,
  .nav-pills .show > .nav-link {
    background-color: $secondary-dark;
  }
  .nav-pills .nav-link {
    display: flex;
    align-items: center;

    color: $secondary-dark;
  }

  .nav-pills .nav-link svg {
    margin-right: 4px;
  }
  .nav-pills .nav-link:hover:not(.active) {
    background-color: $secondary;
  }
}
.nav-link.active svg {
  fill: #ffffff !important;
}
.nav-link svg {
  fill: $secondary-dark !important;
}

.nav-list__item {
  color: $secondary-dark !important;
}
