$secondary: #efefef;
$secondary-dark: #323232;
$primary: #3167f3;
$muted: #b5b5b5;
$bg-dark: #282828;
$white: #ffffff;
$light-gray: #e5e5e5;
$font-WorkSans: "Work Sans";
$font-Nunito: "Nunito Sans";
$highlighter: #aff0f3;
$bg-block: #5ab5ba;
$decor: #c5d5e8;
$decor2: #f6f5f7;
$bg-block2: #f5f8ff;
$halfhidden: #818385;
$stroke: #cfcfcf;
$bg-language: #e3e7f0;
$tablet-width: 768px;
$desktop-width: 1250px;
$mobile-width-only: 767px;
$font-main: $font-Nunito;

.font-main {
  font-weight: 400;
  font-family: $font-main, "Arial", sans-serif;
}

.font-title {
  font-weight: 700 !important;
  font-family: $font-main, "Arial", sans-serif;
}

.font-link-btn-1 {
  font-weight: 400 !important;
  font-family: $font-main, "Arial", sans-serif;
}

.font-link-btn-2 {
  font-weight: 600;
  font-family: $font-main, "Arial", sans-serif !important;
}

.text {
  font-size: 18px;
  line-height: 22px;

@extend .font-main;
}

.button {
  font-size: 18px !important;
  line-height: 22px !important;
  color: $white !important;

  background-color: $bg-block !important;
  border-radius: 15px !important;
}

.button::after {
  content: "";

  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: -30px;
  margin-left: 10px;

  vertical-align: middle;

  background-image: url("~@/assets/icon-right-arrow.svg");
}

.button:hover,
.button:focus {
  text-decoration: underline !important;
};

.title-chapter {
  margin-bottom: 35px !important;

  font-size: 24px;
  line-height: 1.2;
  text-align: center;

@extend .font-title;

  @media (min-width: $tablet-width) {
    margin-bottom: 70px !important;

    font-size: 48px !important;
    line-height: 58px !important;
  }
}

.title-section {
  margin-bottom: 23px;

  font-size: 18px;
  line-height: 1.2;

@extend .font-title;

  @media (min-width: $tablet-width) {
    font-size: 24px !important;
    line-height: 29px !important;
  }
}

.support-title-charter {
  font-size: 24px !important;
  line-height: 1.1 !important;

@extend .font-title;

  @media (min-width: $tablet-width) {
    font-size: 48px !important;
    line-height: 58px !important;
  }
}

.support-title-section {
  font-size: 22px !important;
  line-height: 1.1 !important;

@extend .font-title;

  @media (min-width: $tablet-width) {
    font-size: 24px !important;
    line-height: 29px !important;
  }
}

.support-text {
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;

@extend .font-main;

  @media (min-width: $tablet-width) {
    font-size: 18px !important;
  }
}

.highlighted {
  background: linear-gradient(transparent, transparent 65%, $highlighter 65%, $highlighter 95%, transparent 95%, transparent);
}

.visually-hidden {
  font-size: 0 !important;
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;

  word-wrap: break-word;

  clip: rect(0 0 0 0);
}

.in-container {
  min-width: 320px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  @media (min-width: $desktop-width) {
    max-width: 1180px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
  }
}
